.contact {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,0.3)),url('../../assets/contact-bg.jpg') no-repeat center center/cover;
}

.contact .container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact .top {
    margin-top: 5rem;
    
    color: #f6f6f6;
}
.contact .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;

}

.contact form {
    max-width: 600px;
    width: 100%;
    
    margin: 2rem auto;
    padding: 0;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.contact form label {
    margin: 1rem 0 .2rem .7rem;
    color: #eee;
}


.contact form input, textarea {
    margin: .5rem;
    padding: .7rem 1.5rem;
    background: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 25px;
    color: #f6f6f6;
    font-size: 1rem;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
}
.contact form textarea{
    min-width: 70%;
    max-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.contact form input:hover, textarea:hover {
    box-shadow: 0 0 4px 0;
}

.contact form input::placeholder, textarea::placeholder {
    color: #333;
}


@media screen and (max-width:540px) {
    .contact .container{
        width: 90%;
        margin: auto;
    }
    
}